<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{windowtitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt pagemsg}}</p>
    </body>
    
    {{> footer}}
</html>